<div class="min-h-screen flex flex-col justify-center items-center px-6 sm:px-8 lg:px-12">
  <!-- <div class="p-8 rounded-lg shadow-md w-full max-w-md"> -->
  <!-- Loading Spinner -->
  <app-loading-spinner *ngIf="isLoading$ | async"></app-loading-spinner>
  
  <div [class.opacity-50]="(isLoading$ | async)" [class.pointer-events-none]="(isLoading$ | async)" class="min-w-0">
    <div 
      *ngIf="!selectedFile" 
      class="flex flex-col items-center space-y-4 w-full max-w-md md:max-w-lg lg:max-w-xl">
      <h1 class="text-2xl font-normal text-center text-gray-800 mb-6">
        Tu veux partager un fichier ?
      </h1>
      <div class="flex items-center border border-transparent rounded p-2">
        <label for="file-upload" class="flex items-center cursor-pointer group">
          <input id="file-upload" type="file" class="sr-only" (change)="onFileSelected($event)" />

          <div class="relative rounded-full p-3
                  group-hover:bg-black/15 group-hover:shadow-lg
                  group-active:bg-black/30 group-active:shadow-xl
                  transition-all duration-200">
            <div class="h-16 w-16 rounded-full bg-black flex items-center justify-center">
              <img src="/assets/icons/buttons/cloud-upload.svg" alt="upload" class="w-6 h-6" />
            </div>
          </div>

        </label>
      </div>
    </div>

    <!-- Display the form if file is selected -->
    <div *ngIf="selectedFile" class="bg-white mt-6 p-8 rounded-lg shadow-md w-full max-w-md md:max-w-lg lg:max-w-xl min-w-0">
      <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">
        Ajouter un fichier
      </h1>
      <div class="flex items-center justify-between p-4 rounded-md">
        <!-- File information -->
        <div class="flex items-center justify-center">
          <img [src]="fileIcon" alt="Fichier" class="w-5 h-5 mr-3 mb-1" />
        </div>
        <div class="flex-1 min-w-0">

          <p class="text-base truncate" [title]="selectedFile.name">
            {{ selectedFile.name }}
          </p>
          <p class="text-sm">
            {{ getHumanReadableSize(selectedFile.size) }}
          </p>
        </div>

        <!-- Display before sending the file to the server for link generation -->
        <!-- Replace file button -->
        <label *ngIf="!downloadLink" class="ml-4 cursor-pointer flex-shrink-0">
          <input type="file" class="hidden" (change)="onFileSelected($event)" />
          <span
            class="flex justify-center items-center border border-btn-change-border px-4 py-2 text-btn-change-text hover:bg-btn-orange-bg  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-orange rounded-md shadow-sm transition duration-300">
            Changer
          </span>
        </label>
      </div>

      <form *ngIf="!downloadLink" [formGroup]="fileUploadForm" class="space-y-4">
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">
            Mot de passe
          </label>
          <div class="mt-1">
            <input 
              id="password" 
              name="password" 
              type="password" 
              autocomplete="current-password"
              formControlName="password" 
              placeholder="Optionnel"
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-btn-change-border focus:border-btn-change-border sm:text-sm" />
            <p 
              [class.invisible]="
                !(fileUploadForm.get('password')?.errors?.['minlength'] || fileUploadForm.get('password')?.errors?.['pattern'])"
              class="text-sm text-red-600 mt-1 leading-tight">
              Minimum {{ passwordMinLength }} caractères, avec au moins une lettre et un chiffre.
            </p>
          </div>
        </div>
        <div>
          <label for="expiration" class="block text-sm font-medium text-gray-700">
            Expiration
          </label>
          <select 
            id="expiration" 
            formControlName="expiration"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-btn-change-border focus:border-btn-change-border sm:text-sm">
            <option *ngFor="let option of expirationOptions | keyvalue" [ngValue]="option.key">
              {{ option.value }}
            </option>
          </select>
        </div>

        <div class="mt-6">
          <button type="button"
            class="mx-auto flex justify-center py-2 px-4 border border-btn-orange-border rounded-md shadow-sm text-sm font-medium text-btn-orange-text bg-btn-orange-bg hover:bg-btn-orange-hover-bg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-orange cursor-pointer"
            (click)="onUpload()">
            <img src="/assets/icons/buttons/upload-ba681f.svg" alt="upload" class="w-4 h-4 mr-2 mt-1" />
            Téléverser
          </button>
        </div>
      </form>


      <!-- Display only if the link has been generated -->
      <div *ngIf="downloadLink" class="space-y-4 mt-6 w-full overflow-hidden min-w-0">
        <p class="text-base font-normal text-left">
          {{ dwlLinkMessage }}
        </p>
        <p 
          class="mt-4 text-center text-generated-link-text bg-gray-100 p-2 rounded cursor-pointer
            block w-full max-w-[calc(100vw-6rem)] overflow-x-auto whitespace-nowrap underline" 
          (click)="copyLinkToClipboard()">
          {{ downloadLink }}
        </p>

        <div class="mt-6">
          <button 
            type="button"
            class="mx-auto flex justify-center py-2 px-4 border border-btn-orange-border rounded-md shadow-sm text-sm font-medium text-btn-orange-text bg-btn-orange-bg hover:bg-btn-orange-hover-bg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-orange"
            (click)="copyLinkToClipboard()">
            <img src="/assets/icons/buttons/copy.svg" alt="upload" class="w-4 h-4 mr-2 mt-1" />
            Copier le lien
          </button>
        </div>

        <div *ngIf="showCopyConfirmation"
          class="fixed bottom-4 left-1/2 transform -translate-x-1/2 bg-green-100 border border-green-400 text-green-700 px-4 py-2 rounded-md shadow-lg text-sm z-50 transition-opacity duration-300">
          Lien copié avec succès !
        </div>

      </div>
    </div>
  </div>  
</div>