<div class="min-h-screen flex flex-col justify-center items-center p-4">
  <div class="bg-white mt-6 p-8 rounded-lg shadow-md w-full max-w-md md:max-w-lg lg:max-w-xl ">
    
    <h1 class="font-semibold text-3xl mb-4 justify-center flex">
      Télécharger un fichier
    </h1>

    
    <!-- When active file, show download form -->
    <ng-container 
      *ngIf="!file.isExpired; else expireBlock"
    >
    <div class="flex items-center gap-4 mb-6">
      <img [src]="file.fileIconUrl" alt="File Icon" class="w-8 h-8">
      <div>
        <h3 class="text-lg">{{ file.filename }}</h3>
        <p class="text-sm text-gray-500">{{ file.fileSize }}</p>
      </div>
    </div>

    <div  
      [ngClass]="{
        '\
          bg-[var(--color-expiration-safe-bg)] \
          text-[var(--color-expiration-safe-text)] \
          border-2 border-[var(--color-expiration-safe-border)]': 
        expMsgType === 'safe',
        '\
          bg-[var(--color-expiration-warning-bg)] \
          text-[var(--color-expiration-warning-text)] \
          border-1 border-[var(--color-expiration-warning-border)]': 
        expMsgType === 'warning'
      }"
      class="relative p-2 rounded-lg transition-opacity duration-500 flex items-center gap-2"
    >
      <img 
        [src]="expMsgIcon" 
        alt="Expiration Status Icon" 
        class="w-5 h-5"
      />
      {{ file.expirationMsg }}
    </div>

      <form *ngIf="fileDownloadForm" [formGroup]="fileDownloadForm" class="w-full mt-6">
        <div *ngIf="file.hasPassword">
          <label for="password" class="block text-lg font-medium text-gray-700">
            Mot de passe
          </label>
          <div class="mt-1">
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-btn-change-border focus:border-btn-change-border sm:text-sm"
              formControlName="password"
              placeholder="Saisissez le mot de passe..."
            />
          </div>
        </div>

        <div class="mt-6">
          <button
            type="button"
            [disabled]="fileDownloadForm.invalid" 
            [ngClass]="{
              'bg-download-btn-bg cursor-not-allowed opacity-60': fileDownloadForm.invalid,
              'bg-download-btn-bg hover:bg-download-btn-hover': !fileDownloadForm.invalid
            }"
            class="mx-auto flex justify-center py-2 px-4 border border-download-btn-border rounded-md shadow-sm text-sm font-medium text-download-btn-text focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-orange"
            (click)="onDownload()"
          >
            <img src="/assets/icons/buttons/cloud-download.svg" alt="download" class="w-4 h-4 mr-2 mt-1" />
            Télécharger
        </button>
        </div>
      </form>

    </ng-container>

    <!-- When expired file, show expire message only -->
    <ng-template #expireBlock>

      <div  
        class="relative p-2 rounded-lg transition-opacity duration-500 bg-[var(--color-expiration-overdue-bg)] text-[var(--color-expiration-overdue-text)] border border-[var(--color-expiration-overdue-border)] flex items-center gap-2"
      >
        <img 
          [src]="expMsgIcon" 
          alt="Expiration Status Icon" 
          class="w-5 h-5"
        />
        {{ file.expirationMsg }}
      </div>

    </ng-template>

  </div> 

</div>