
html {
  height: 100%;
}

body {
  // // Default the application to a light color theme. This can be changed to
  // // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // // user's system settings.
  // color-scheme: light;

  // Reset the user agent margin.
  margin: 0;
  height: 100%;

}
@import 'tailwindcss';

@theme {
  // Color palette mainly for the Login/Register forms and the buttons.
  --color-primary-orange: #E27F29;
  --color-btn-orange-bg: #FFEFE4;
  --color-btn-orange-hover-bg: #FFD8C8;
  --color-btn-orange-text: #BF702C;
  --color-btn-orange-border: #ECBA99;

  // Color palette for headers
  --color-header-non-authenticated-user: #FDB289;
  --color-header-authenticated-user: #FFEEE3;
  --color--header-btn-bg: #2C2C2C;
  --color-header-btn-hover-bg: #4C4C4C;

  // Color palette for the upload file page
  --color-btn-change-text: #E27F29;
  --color-btn-change-hover: #BF702C;
  --color-btn-change-border: #FFA569;

}
